@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

$light_red_CTA_text: hsl(356, 100%, 66%);
$very_light_red_CTA_hover_background: hsl(355, 100%, 74%);
$very_dark_blue_headings: hsl(208, 49%, 24%);
$white_text: hsl(0, 0%, 100%);
$grayish_blue_footer_text: hsl(240, 2%, 79%);
$very_dark_grayish_blue_body_copy: hsl(207, 13%, 34%);
$very_dark_black_blue_footer_background: hsl(240, 10%, 16%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 1.6rem;
}
