@use 'variables' as *;

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 60rem;
	padding: 7.5rem 2.4rem 0;
	background: url(../images/bg-pattern-intro-mobile.svg) 35% 35%, linear-gradient($very_light_red, $light_red);
	clip-path: inset(0 0 0 0 round 0% 0% 0% 100px);
}

.editor {
	h2 {
		margin-top: 10rem;
	}

	img {
		max-width: 70rem;
		margin: 0 auto;
	}

	&__container {
		margin-top: 5rem;

		div {
			margin-top: 5rem;
		}
	}
}

.phones {
	position: relative;
	margin-bottom: 8rem;

	img {
		max-width: 47rem;
		margin: 0 auto;
	}

	&__text-content {
		padding: 0 2.4rem 5rem;
	}

	&__background {
		position: absolute;
		inset: 0;
		top: 15rem;
		min-height: 40rem;
		background: url(../images/bg-pattern-circles.svg) 50% -20rem no-repeat,
			linear-gradient($very_dark_gray_blue, $very_dark_desaturated_blue);
		background-size: cover;
		clip-path: inset(0 0 0 0 round 0% 100px 0% 100px);
		z-index: -1;
	}

	h2 {
		font-size: 3.6rem;
	}
}

.laptop {
	margin-top: 5rem;

	img {
		max-width: 70rem;
		margin: 0 auto;
	}

	&__container {
		margin-top: 5rem;
	}
}

@media (min-width: 992px) {
	.hero {
		background: url(../images/bg-pattern-intro-desktop.svg) 25% 52.5% no-repeat,
			linear-gradient(to right, $very_light_red, $light_red);
		background-size: 225%;
	}

	.phones {
		margin: 6rem 0 12rem;

		img {
			position: absolute;
			translate: 0 -5%;
			scale: 120%;
		}

		&__content {
			display: flex;
			flex-direction: row;
			min-height: 40rem;
		}

		&__text-content {
			height: 100%;
			width: 50%;
			padding: 0rem 2.4rem;
			margin: auto 0 auto auto;
			text-align: left;
		}

		&__background {
			top: 0rem;
			min-height: 40rem;
			background: url(../images/bg-pattern-circles.svg) -30% 90% no-repeat,
				linear-gradient($very_dark_gray_blue, $very_dark_desaturated_blue);
		}
	}

	.editor {
		&__container {
			display: flex;
			flex-direction: row;

			div {
				order: 1;
				width: 50%;
				margin: auto;
				text-align: left;
			}

			picture {
				order: 2;
				width: 50%;
			}
		}
	}

	.laptop {
		display: flex;
		flex-direction: row;

		&__container {
			width: 50%;
		}
	}
}
