@use 'variables' as *;

.menu-items {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	margin-bottom: 3rem;

	button {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__text {
		font-family: 'Overpass', sans-serif;
		font-size: 1.8rem;
		font-weight: 700;
		color: black;
		opacity: 0.7;
	}
}

.rotate {
	img {
		rotate: 180deg;
	}
}

.light-icon {
	display: none;
}

.dark-icon {
	display: block;
}

@media (min-width: 992px) {
	.menu-items {
		width: max-content;
		margin-bottom: 0;
		text-align: left;

		&__text {
			color: $white_text;
		}
	}

	.light-icon {
		display: block;
	}

	.dark-icon {
		display: none;
	}
}
